spring:
  application:
    name: activity-service

  data:
    mongodb:
      url: mongodb://localhost:27017/Fitnessactivity
      database: Fitnessactivity

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

server:
  port: 8082

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/

rabbitmq:
  exchange:
    name: fitness.exchange
  queue:
    name: activity.queue
  routing:
    key: activity.tracking